{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="utf-8">
	<title>SunnyWeb - разработка вашего бизнеса</title>
	<meta name="description" content="">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta property="og:image" content="img/logo.jpg">
	<link rel="shortcut icon" href={% static "img/favicon/favicon.ico" %} type="image/x-icon">
	<link rel="apple-touch-icon" href={% static "img/favicon/apple-touch-icon.png" %}>
	<link rel="apple-touch-icon" sizes="72x72" href={% static "img/favicon/apple-touch-icon-72x72.png" %}>
	<link rel="apple-touch-icon" sizes="114x114" href={% static "img/favicon/apple-touch-icon-114x114.png" %}>

	<meta name="theme-color" content="#000">
	<meta name="msapplication-navbutton-color" content="#000">
	<meta name="apple-mobile-web-app-status-bar-style" content="#000">

	<style>body { opacity: 0; overflow-x: hidden; } html { background-color: #fff; }</style>

</head>
<body>

    {% block modals %}
    {% endblock %}

    {% block header %}
    {% endblock %}

    {% block services %}
    {% endblock %}

    {% block portfolio %}
    {% endblock %}

    {% block benefits %}
    {% endblock %}

    {% block team %}
    {% endblock %}

    {% block footer %}
    {% endblock %}


    <link rel="stylesheet" href={% static "css/main.min.css" %}>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src={% static "libs/slick/slick.min.js" %}></script>
    <script src={% static "js/common.js" %}></script>
</body>
</html>