{% extends "base.html" %}
{% load static %}


{% block modals %}
    {% include "blocks/modals.html" %}
{% endblock %}

{% block header %}
    {% include "blocks/header.html" %}
{% endblock %}

{% block services %}
    {% include "blocks/services.html" %}
{% endblock %}

{% block portfolio %}
    {% include "blocks/portfolio.html" %}
{% endblock %}

{% block benefits %}
    {% include "blocks/benefits.html" %}
{% endblock %}

{% block team %}
    {% include "blocks/team.html" %}
{% endblock %}

{% block footer %}
    {% include "blocks/footer.html" %}
{% endblock %}