{% load static %}
{% load i18n %}

<!-- start contacts -->
<section class="contacts" id="contacts">
    <div class="contacts-row">
        <div class="contacts-column">
            <div class="contacts-column__descr">
                <h2 class="section-title contacts-title">{% trans "Контакты" %}</h2>
                <ul class="contacts-list">
                    {% for contact in contacts %}
                        <li class="contacts-item">{{ contact.name }}: {{ contact.special_value }}</li>
                    {% endfor %}
{#                    <!-- <li class="contacts-item">Phone number: <a href="tel:+380987654321">+380 98 796 3224</a></li> -->#}
{#                    <li class="contacts-item">Email: <a href="mailTo:inbox@sunnyweb.pro">inbox@sunnyweb.pro</a></li>#}
{#                    <!--li class="contacts-item">Skype: <a href="#login">sunnyweb</a></li-->#}
{#                    <li class="contacts-item">Telegram: <a href="https://t.me/sunnyweb">@sunnyweb</a></li>#}
                </ul>
            </div>
        </div>
        <div class="contacts-column contacts-column__img" style="background: url({% static "img/contact-bg.jpg" %});"></div>
    </div>
</section>
<!-- end contacts -->
<!-- start footer -->
<footer class="footer">
    <div class="wrapper">
        <div class="footer-row">
            <div class="footer-column">
                <ul class="footer-column__list">
                    {% for social_contact in social_contacts %}
                        <li class="footer-column__item">
                            <a href="{{ social_contact.special_value }}" target="_blank">
                                <picture>
                                    <source srcset="{{ social_contact.image.url }}" type="image/svg+xml">
                                    <img src="{{ social_contact.image.url }}" alt="SunnyWeb {{ social_contact.name }}">
                                </picture>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="footer-column">
                <p class="footer-column__copy">SunnyWeb &copy; 2016-{{ year }}</p>
            </div>
        </div>
    </div>
</footer>
<!-- end footer -->