{% load static %}
{% load i18n %}

<!-- start logo -->
	<div style="position: fixed; top: 10px; left: 10px; z-index: 100">
		<a href="http://sunnyweb.pro">
			<img id="logo" src="{% static "img/logo_round.png" %}" alt="SunnyWeb" width="64">
		</a>
	</div>
	<!-- end logo -->

	<!-- start header -->
	<header class="header">
		<div class="wrapper">
			<div class="menu-bar">
				<span></span>
			</div>
			<nav class="header-nav">
				<ul class="header-list">
					<li class="header-item"><a href="#services">{% trans "Услуги" %}</a></li>
					<li class="header-item"><a href="#portfolio">{% trans "Портфолио" %}</a></li>
					<li class="header-item"><a href="#advantages">{% trans "Выгоды" %}</a></li>
					<li class="header-item"><a href="#command">{% trans "Команда" %}</a></li>
					<li class="header-item"><a href="#contacts">{% trans "Контакты" %}</a></li>
				</ul>
			</nav>
		</div>
	</header>
	<!-- end header -->
	<!-- start language -->
	<div style="position: fixed; top: 100px; right: 10px; z-index: 100">

{#        <form action="{% url 'set_language' %}" method="post">{% csrf_token %}#}
{#            <input name="next" type="hidden" value="{{ redirect_to }}">#}
{#            <select name="language">#}
{#                {% get_current_language as LANGUAGE_CODE %}#}
{#                {% get_available_languages as LANGUAGES %}#}
{#                {% get_language_info_list for LANGUAGES as languages %}#}
{#                {% for language in languages %}#}
{#                    <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>#}
{#                        {{ language.name_local }} ({{ language.code }})#}
{#                    </option>#}
{#                {% endfor %}#}
{#            </select>#}
{#            <input type="submit" value="Go">#}
{#        </form>#}

		<a href="index.html"><img src="{% static "img/lang/en.png" %}" alt="In English" width="30"></a>
		<a href="ru.html"><img src="{% static "img/lang/ru.png" %}" alt="На русском" width="30"></a>
{#		<!--<a href="/"><img src="img/lang/ua.png" alt="Українською" width="30"></a>-->#}
	</div>
	<!-- end language -->
	<!-- start banner -->
	<section class="banner" style="background: url({% static "img/banner-bg.jpg" %});">
		<div class="wrapper">
			<div class="banner-descr">
				<h1 class="banner-descr__title">SunnyWeb</h1>
				<p class="banner-descr__text">{%  trans "Разработка WEB и мобильных приложений" %}</p>
				<a href="#order" class="button-modal banner-descr__link">{% trans "Заказать" %}</a>
			</div>
		</div>
	</section>
	<!-- end banner -->
	<!-- start technologies -->
	<section class="technologies" id="technologies">
		<div class="wrapper">
            {% for technology in technologies %}
                <img class="tech-logo" src="{{ technology.image.url }}" alt="{{ technology.name }}">
            {% endfor %}
		</div>
	</section>
	<!-- end technologies -->