<div class="modal-overlay"></div>


<div class="modal" id="job-sales-manager">
    <div class="modal-content">
        <div class="cancel"></div>
        <div class="modal-content__descr">
            <h3 class="modal-content__title">Вакансия Sales-менеджера</h3>
            <p class="modal-content__text"><strong>Требования:</strong></p>
            <p class="modal-content__text">
                <ol>
                    <li>Понимание сферы деятельности IT компании</li>
                    <li>Приветствуется опыт работы менеджером в IT</li>
                    <li>Будет плюсом хороший уровень разговорного английского</li>
                    <li>Коммуникабельность</li>
                </ol>
            </p>
            <p class="modal-content__text"><strong>Условия работы:</strong></p>
            <p class="modal-content__text">
                <ol>
                    <li>Работа удаленная</li>
                    <li>Гибкий график</li>
                    <li>Своевременная оплата</li>
                </ol>
            </p>
            <p class="modal-content__text"><strong>Обязанности:</strong></p>
            <p class="modal-content__text">
                <ol>
                    <li>Поиск клиентов</li>
                    <li>Ведение переговоров</li>
                    <li>Сопровождение проекта</li>
                </ol>
            </p>
            <p class="modal-content__text">
                <strong>Хотите работать в нашей дружной команде?
                    Отправляйте резюме на <a href="mailto:inbox@sunnyweb.pro">inbox@sunnyweb.pro</a></strong>
            </p>
        </div>
    </div>
</div>

<div class="modal" id="order">
    <div class="modal-content">
        <div class="cancel"></div>
        <div class="modal-content__descr">
            <p class="modal-content__text">
                <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeSnYfMRb_xviWeOOUQQor-DpiqvCCJDi8vqFNuOgwPYcoIRg/viewform?embedded=true" width="100%" height="390" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
            </p>
        </div>
    </div>
</div>