{% load static %}

<!-- start command -->
<section class="command" id="command">
    <div class="wrapper">
        <h2 class="section-title command-title">Команда</h2>
        <div class="portfolio-slider">

            {% for player in team_players %}
                <div class="portfolio-slide">
                    <div class="command-column__img">
                        <img src="{{ player.image.url }}" alt="SunnyWeb {{ player.description }}">
                    </div>
                    <h3 class="command-column__title">{{ player.name }}</h3>
                    <p class="command-column__text">{{ player.description }}</p>
                </div>
            {% endfor %}

            {% for vacancy in vacancies %}
                <div class="portfolio-slide">
                    <div class="command-column__img">
                        <a href="#{{ vacancy.special_value }}" class="button-modal">
                            <img src="{% static "img/plus.png" %}" alt="SunnyWeb {{ vacancy.name }}">
                        </a>
                    </div>
                    <h3 class="command-column__title">Вакансия</h3>
                    <p class="command-column__text">{{ vacancy.name }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- end command -->