{% load static %}

<!-- start command -->
<section class="command" id="command">
    <div class="wrapper">
        <h2 class="section-title command-title">Команда</h2>
        <div class="portfolio-slider">
            <div class="portfolio-slide">
                <div class="command-column__img">
                    <img src="{% static "img/yudkin.jpg" %}" alt="san4ezy">
                </div>
                <h3 class="command-column__title">Юдкин А.</h3>
                <p class="command-column__text">Team lead, Python Developer</p>
            </div><!-- slide(1) -->
            <div class="portfolio-slide">
                <div class="command-column__img">
                    <img src="{% static "img/person-2.jpg" %}" alt="san4ezy">
                </div>
                <h3 class="command-column__title">Иванов С.А</h3>
                <p class="command-column__text">Руководитель отдела</p>
            </div><!-- slide(2) -->
            <!--div class="portfolio-slide">
                <div class="command-column__img">
                    <img src="img/plus.png" alt="работа">
                </div>
                <h3 class="command-column__title">Вакансия</h3>
                <p class="command-column__text">Project manager</p>
            </div--><!-- slide(3) -->
            <div class="portfolio-slide">
                <div class="command-column__img">
                    <a href="#job-sales-manager" class="button-modal">
                        <img src="{% static "img/plus.png" %}" alt="работа">
                    </a>
                </div>
                <h3 class="command-column__title">Вакансия</h3>
                <p class="command-column__text">Sales manager</p>
            </div><!-- slide(4) -->
        </div>
    </div>
</section>
<!-- end command -->